export(co_occurrence)
export(diversity)
export(ease_recombination)
export(entropy)
export(entry_list)
export(entry_mat)
export(exit_list)
export(exit_mat)
export(expy)
export(get_list)
export(get_matrix)
export(gini)
export(growth_ind)
export(growth_list)
export(growth_list_ind)
export(growth_list_reg)
export(growth_mat)
export(growth_reg)
export(hachman)
export(herfindahl)
export(hoover_curve)
export(hoover_gini)
export(hoover_index)
export(inv_norm_ubiquity)
export(kci)
export(krugman_index)
export(location_quotient)
export(location_quotient_avg)
export(locational_gini)
export(locational_gini_curve)
export(lorenz_curve)
export(match_mat)
export(modular_complexity)
export(modular_complexity_avg)
export(morc)
export(mort)
export(norm_ubiquity)
export(prody)
export(rca)
export(relatedness)
export(relatedness_density)
export(relatedness_density_ext)
export(relatedness_density_ext_avg)
export(relatedness_density_int)
export(relatedness_density_int_avg)
export(spec_coeff)
export(tci)
export(ubiquity)
export(weighted_avg)
export(z_score)


importFrom(stats, setNames)
importFrom(Matrix, Matrix)
importFrom(Matrix, sparseMatrix)
importFrom(reshape, melt)
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline")
importFrom("stats", "ave", "complete.cases", "cor")
importFrom("utils", "type.convert")
